body{
	margin:0;
	padding:0;
	background-image:url("./background.png");

}
.naglowek{
	font-size: 60px;
	color: yellow;
	margin-top: 3%;
	margin-left:41%;
}
.none{
	display:none;
}
.block{
	display:block;
}

.switch{
    margin-top: -8%;
	margin-left: 1%;
	float:left;
	
}
.bulb{
	margin-left: 39%;
	float:left;
	
}